tests/data/schema-1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tei="http://www.tei-c.org/ns/1.0" targetNamespace="http://www.tei-c.org/ns/1.0" elementFormDefault="qualified">

  <xs:element name="TEI">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="text">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="body">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="p" type="xs:string"/>
                    <xs:element name="listBibl">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="biblStruct" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="analytic">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="author" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="persName">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="forename" type="xs:string"/>
                                                  <xs:element name="surname" type="xs:string"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="title" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="monogr">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="title" type="xs:string"/>
                                      <xs:element name="imprint">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="biblScope" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="unit" type="xs:string" use="required"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="date">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="type" type="xs:string" use="required"/>
                                                    <xs:attribute name="when" type="xs:string" use="required"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>